<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <h2 style="text-align: center; color: rgb(4, 27, 90); text-decoration: underline; padding-bottom: 25px;">Application Form</h2>
    {%block content%}
    <form  method="POST" enctype="multipart/form-data" style="margin-left: 37vw; width: 70vw; text-align: justify; line-height: 30px;">
    {% csrf_token %}
        <table>
            {{form.job_description}}
            {{form.as_table}}
        </table>
        <br>
        <input type="submit" value="Apply" class="apply" style="cursor: pointer; background: rgb(8, 31, 92); color: white; margin-left: 100px; padding: 8px;"></a>
    </form> 
    {%endblock%}
</body>
</html>
<script>
    $(document).ready(function () {
        $(".apply").click(function () {
            window.alert("Your data has been added successfully!");
        });

    });
</script>
