{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'recruitment/style.css' %}">
</head>

<body>
    {%block title%}
    <h2>Job Application</h2>
    {%endblock%}
    {%block content%}
       {% for job in jobs %}
        <div class="col-md-6">
            <span class="ml-3 mt-3">
                        <div>
                            <label><b>User :</b></label>
                            {{job.user}}
                        </div>  

                        <div>
                            <label><b>Job Description :</b></label>
                            {{job.job_description}}
                        </div>  

                        <div>
                            <label><b>Resume :</b></label>
                            <a href="{{job.resume.url}}" download>Download</a>
                        </div>   

                        <div>
                            <label><b>Notice-period :</b></label>
                            {{job.notice_period}}
                        </div>

                        <div>
                            <label><b>Status :</b></label>
                            {{job.get_status_display}}
                        </div>
                        <br>
            </span>
        </div>
        {%endfor%}
    {%endblock%}
</body>
</html>