<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="{% static 'recruitment/style.css' %}"> -->
</head>

<body>

  {% for message in messages %}
  <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{message}}
    <button type="submit" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times; </span>
    </button>
  </div>
  {% endfor %}

  <h1>Recruitment Process</h1>
  {% block content %}
  {% if user.is_authenticated %}
  Hi {{ user }}!
  <h4>You're successfully logged in.</h4>
  <a href="{% url 'logout' %}"><button type="submit" style="cursor: pointer;">Logout</button></a>
  {% else %}
  <a href="{% url 'register' %}"><button type="submit" style="cursor: pointer;">Register</button></a>
  <a href="{% url 'login' %}"><button type="submit" style="cursor: pointer;">Login</button></a>

  {% endif %}

  {% block title %}
  <h2>Job Description</h2>
  {% endblock %}

  <!-- <table class="table">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Job Category</th>
        <th>Job Organization</th>
        <th>Job Employment-type</th>
      </tr>
    </thead>
    <tbody>
      {% for jd in jds %}
      <tr>
        <td>{{jd}}</td>
        <td>{{jd.get_job_category_display}}</td>
        <td>{{jd.organization}}</td>
        <td>{{jd.get_employment_type_display}}</td>
        <td><a href="{% url 'detail' jd.id %}"><button type="submit" style="cursor: pointer;">View Detail</button></a></td>
      </tr>
      {%endfor%}
    </tbody>

  </table> -->
  
  <div class="row">
    {% for jd in jds %}
    <div class="col-md-6">
      <span class="ml-3 mt-3">
        <label> <b>Job Title - </b>
          {{jd}}
        </label>
       
        <!-- <div>
          <label> <b>Job Category - </b>
            {{jd.get_job_category_display}}
          </label>
        </div> -->

        <div>
          <label> <b>Organization - </b>
            {{jd.organization}}
          </label>
        </div>
        <div>
          <label>
            <b>Job Location - </b>
            {{jd.job_location}}
          </label>
        </div>

        <div>
          <label> <b>Employment-type - </b>
            {{jd.get_employment_type_display}}
          </label>
          </div>
         
          <a href="{% url 'detail' jd.id %}"><button type="submit" style="cursor: pointer;">View Detail</button></a><br>
        
        
        <br />
      </span>
    </div>
    {%endfor%}
  </div>
  {% endblock %}


</body>

</html>