<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {%block title%}
    <h2>Job Description</h2>
    {%endblock%}

    {%block content%}
    <p>
    <h3>Job brief-</h3>
    We are looking for a Software Developer to build and implement functional programs. You will work with other
    Developers and Product Managers throughout the software development life cycle.
    In this role, you should be a team player with a keen eye for detail and problem-solving skills. If you also have
    experience in Agile frameworks and popular coding languages (e.g. JavaScript), we'd like to meet you.
    Your goal will be to build efficient programs and systems that serve user needs.

    <h3>Responsibilities-</h3>
    <ul>
        <li>Work with developers to design algorithms and flowcharts</li> 
        <li>Produce clean, efficient code based on specifications</li>
        <li>Integrate software components and third-party programs</li>
        <li>Verify and deploy programs and systems</li>
        <li>Troubleshoot, debug and upgrade existing software</li>
        <li>Gather and evaluate user feedback</li>
        <li>Recommend and execute improvements</li>
        <li>Create technical documentation for reference and reporting</li>
    </ul>

    <h3>Requirements and skills-</h3>
    <ul>
        <li>Proven experience as a Software Developer, Software Engineer or similar role</li>
        <li>Familiarity with Agile development methodologies</li>
        <li>Experience with software design and development in a test-driven environment</li>
        <li>Knowledge of coding languages (e.g. C++, Java, JavaScript) and frameworks/systems (e.g. AngularJS, Django, Git)</li>
        <li>Experience with databases and Object-Relational Mapping (ORM) frameworks (e.g. Hibernate)</li>
        <li>Ability to learn new languages and technologies</li>
        <li>Excellent communication skills</li>
        <li>BSc/BA in Computer Science, Engineering or a related field</li>
    </ul>
    <a href="{% url 'apply' %}"><button type="submit" style="cursor: pointer;"><h4>Apply for job</h4></button></a>
    </p>

    {%endblock%}

    </form>
</body>

</html>