<!-- {% load static %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="{% static 'recruitment/style.css' %}"> -->
</head>

<body>
    {%block title%}
    <h2>Job Description</h2>
    {%endblock%}

    {%block content%}
    
    {% for jd in jds %}
    <div class="col-md-6">
        <span class="ml-3 mt-3">
            <div>
                <label> <b>Job Brief - </b><br>
                    {{jd.job_brief}}
                </label>
            </div>
            <br>

            <div>
                <label> <b>Responsibilities - </b><br>
                        {{jd.responsibilities}}
                    
                </label>
            </div>
            <br/>

            <div>
                <label> <b>Requirements and Skills - </b><br>
                    
                        {{jd.skills}}
                    
                </label>
            </div>
            <br/>

            <div>
                <label> <b> Educational-qualifications - </b>
                    <ul>
                        <li>{{jd.mandatory_qualification}} (Required)</li>
                        <li>{{jd.optional_qualification}}</li>

                    </ul>
                </label>
            </div>


        </span>
    </div>
    {%endfor%}

    <a href="{% url 'apply' %}"><button type="submit" style="cursor: pointer;">
            <h4>Apply for job</h4>
        </button></a>
    </p>

    {%endblock%}

    </form>
</body>

</html>