<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<h2>Log In</h2>
<form method="post">
    {%load crispy_forms_tags %}
    {% csrf_token %}
    {{ form|crispy }}
    <br>
    <button type="submit" style="cursor: pointer;">Log In</button>

</form>
<br>Don't have an account? <a href="/register" target="blank" style="cursor: pointer;"><strong>register here</strong></a>!

</html>