
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
</head>
<body>
    {% block content %} 
	<div class="container py-5">
	<h1>Register</h1>
	<form method="POST" action="{% url 'register' %}">
        {%load crispy_forms_tags %}
		{% csrf_token %}
        
		{{ form|crispy }} 
          
         <br>               
		<button class="register" type="submit" style="cursor: pointer;">Register</button> 
	</form>
        </div>
   {% endblock %}
</body>
</html>
<script>
    $(document).ready(function(){
        $(".register").click( function() {
            window.alert("Your account has been created succesfully!");
    });
  
    });
</script>
